# Python
__pycache__/
*.py[cod]

# Virtual environment
myenv/
venv/
.venv/

# Environment variables
.env

# React
frontend/node_modules/
frontend/build/
frontend/dist/

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*